<div class="card flex justify-center">
    <p-treeSelect class="input" containerStyleClass="w-full" [(ngModel)]="selectedNodes" [options]="nodes"
        (onNodeUnselect)="onNodeUnselect($event)" (onNodeSelect)="onNodeSelect($event)" display="comma"
        [metaKeySelection]="false" selectionMode="checkbox" [propagateSelectionUp]="false" placeholder="Select Item"
        [filter]="true">
        <ng-template let-value pTemplate="value">
            @if (!value || value.length === 0) {
            {{placeholder}}
            }
            @else {
            <mima-filter-tags [labels]="labels" [selected]="selected"></mima-filter-tags>
            }
        </ng-template>
    </p-treeSelect>
</div>
