<div class="field is-grouped is-flex-direction-row" *ngIf="filter">
    <div class="control has-icons-left">
        <div class="select">
            <select [(ngModel)]="selectedType" (change)="emit()">
                <option *ngFor="let filterType of filterTypes" [ngValue]="filterType">{{filterType.name}}</option>
            </select>
        </div>
        <span class="icon is-left">
            <fa-icon [icon]="selectedType.icon"></fa-icon>
        </span>
    </div>
    <div class="control is-expanded" *ngIf="selectedType.dropdown; else noDropdown">
        <p-multiSelect class="input" appendTo="body" [options]="dropdownOptions$ | async" [(ngModel)]="filter.content"
            [panelStyle]="{'width':'min(800px,50vw)'}" [defaultLabel]="selectedType.dropdownLabel" i18n-defaultLabel
            (onChange)="emit()">
            <ng-template let-value pTemplate="selectedItems">
                <span *ngIf="!value || value.length === 0; else tags">{{selectedType.dropdownLabel}}</span>
                <ng-template #tags>
                    <mima-filter-tags [labels]="dropdownLabels" [selected]="value"></mima-filter-tags>
                </ng-template>
            </ng-template>
        </p-multiSelect>
    </div>
    <ng-template #noDropdown>
        <p class="control is-expanded" [ngClass]="{'has-icons-right': filter.content}">
            <input #textField class="input" type="text" name="text" [(ngModel)]="textFieldContent"
                (keyup)="keyup$.next(1)">
            <span class="icon is-right is-clickable" (click)="clearFilter()" *ngIf="textFieldContent">
                <fa-icon [icon]="faTimesCircle"></fa-icon>
            </span>
        </p>
    </ng-template>
    <p class="control">
        <button class="button" i18n-title title="Delete filter" (click)="delete()">
            <span class="icon is-small">
                <fa-icon [icon]="faTrash"></fa-icon>
            </span>
        </button>
    </p>
</div>
