<div class="field has-addons" *ngIf="filter">
    <div class="control has-icons-left">
        <div class="select">
            <select [(ngModel)]="selectedType" (change)="emit()">
                <option *ngFor="let filterType of filterTypes" [ngValue]="filterType">{{filterType.name}}</option>
            </select>
        </div>
        <span class="icon is-left">
            <fa-icon [icon]="selectedType.icon"></fa-icon>
        </span>
    </div>
    <p class="control" [ngClass]="{'has-icons-right': filter.text}">
        <input #textField class="input" type="text" name="text" [(ngModel)]="filter.text" (keyup)="emit()">
        <span class="icon is-right is-clickable" (click)="clearFilter()" *ngIf="filter.text">
            <fa-icon [icon]="faTimesCircle"></fa-icon>
        </span>
    </p>
    <p class="control">
        <button class="button" i18n-title title="Delete filter" (click)="delete()">
            <span class="icon is-small">
                <fa-icon [icon]="faTrash"></fa-icon>
            </span>
        </button>
    </p>
</div>
