<div class="field has-addons" *ngIf="filter">
    <div class="control has-icons-left">
        <div class="select">
            <select [(ngModel)]="selectedType" (change)="emit(); fillDropdown()">
                <option *ngFor="let filterType of filterTypes" [ngValue]="filterType">{{filterType.name}}</option>
            </select>
        </div>
        <span class="icon is-left">
            <fa-icon [icon]="selectedType.icon"></fa-icon>
        </span>
    </div>
    <div *ngIf="selectedType.dropdown; else noDropdown">
        <p-multiSelect appendTo="body" [options] = "dropdownOptions" [(ngModel)]="filter.content" defaultLabel="Select Dialect(s)" optionLabel="name" optionValue="name"(onChange)="emit()"></p-multiSelect>
    </div>
    <ng-template #noDropdown>
        <p class="control" [ngClass]="{'has-icons-right': filter.content}">
            <input #textField class="input" type="text" name="text" [(ngModel)]="textFieldContent" (keyup)="emit()">
            <span class="icon is-right is-clickable" (click)="clearFilter()" *ngIf="textFieldContent">
                <fa-icon [icon]="faTimesCircle"></fa-icon>
            </span>
        </p>
    </ng-template>
    <p class="control">
        <button class="button" title="Delete filter" (click)="delete()">
            <span class="icon is-small">
                <fa-icon [icon]="faTrash"></fa-icon>
            </span>
        </button>
    </p>
</div>
