<h1 class="title" i18n>Home</h1>

<h2 class="subtitle" i18n>About the <i>MiMA</i> Project and Database</h2>
<div class="content">
    <p i18n>Welcome to the MiMA database website, which is a product of the Mind your Manner Adverbials! research
        project
        run by linguists of Utrecht University (<a i18n-href
            href="https://www.uu.nl/en/research/institute-for-language-sciences">ILS, formerly UiL-OTS</a>). The
        research project is funded by the Dutch Research
        Council (NWO).</p>

    <p i18n>One of the main aims of the research project is to map the cross-linguistic variation in the (morpho)syntax
        of
        manner adverbials. In pursuing this, we are interested in the internal structure (i.e., the internal make-up of
        complex words and groups of words) of these adverbials, their external structure (i.e., the way in which they
        distribute in the larger sentence), and the way in which these two variables interact. Part of building towards
        this
        goal consists of collecting the data contained in this database, and compiling and making them available in the
        database.</p>

    <p i18n>As one look at the database reveals, there is a lot of variation in the way in which languages form and use
        manner adverbials. This rich variation is found between unrelated, but also (closely) related languages/language
        varieties, and has not been studied on a large scale and in detail before. The MiMA project contributes to the
        study
        of the (morpho)syntax of manner adverbials by systematic collection and study of data from languages/language
        varieties that exhibit different degrees of relatedness: the Dutch dialects are very closely related
        languages/language varieties, the Germanic languages are less closely related, and the non-Germanic languages
        are
        even further removed/unrelated. By studying the differences and similarities in the structure of the manner
        adverbials, we can relate these to the differences and similarities between the languages/language varieties.
        The
        sample of languages/language varieties in our database allows us to do this at different levels of
        fine-grainedness.
    </p>

</div>
<h2 class="subtitle" i18n>Research Group</h2>
<div class="content">
    <ul>
        <li i18n>Prof. dr. <a i18n-href href="https://www.uu.nl/staff/NFMCorver" target="_blank">Norbert Corver</a> (PI)
        </li>
        <li i18n><a i18n-href href="https://www.uu.nl/staff/MMassaia" target="_blank">Marta Massaia</a> (PhD student)
        </li>
        <li i18n><a i18n-href href="https://www.uu.nl/staff/LTavenier" target="_blank">Lex Cloin-Tavenier</a> (PhD
            student)</li>
        <li i18n>Tess Wensink (student assistant)</li>
    </ul>
</div>
<h2 class="subtitle" i18n>About the Database</h2>
<div class="content">
    <p i18n>
        The database contains XXXX tokens of manner adverbials, split across XXXX types. These data primarily stem from
        our questionnaire research among native speakers. By studying (dialect) reference grammars, and the broader
        scientific literature, and by consulting native speakers, we first made a selection of languages/language
        varieties that
        are interesting for our research purposes (because of differences in word order phenomena, use of pronouns,
        etc.).
        Next, we made questionnaires to systematically chart the (im)possible patterns in the morphosyntax of the manner
        adverbials in these languages. The Dutch dialect data were collected in the Netherlands and Flanders (Belgium),
        in collaboration with the <a target="_blank" href="https://meertenspanel.meertens.knaw.nl/">Meertens Panel</a>. The results of
        the questionnaires were glossed (according to the
        <a target="_blank" href="https://www.eva.mpg.de/lingua/pdf/Glossing-Rules.pdf">Leipzig glossing rules</a>) and provided with
        (English) translations, and embedded in the database.
    </p>
    <p i18n>
        Further information on the organization of the data in the database can be found on the Instructions page of
        this website.
    </p>
    <p i18n>
        If you have any suggestions or feedback about the data (base), please mail us at <a
            href="mailto:mima@uu.nl?subject=MiMA database">mima@uu.nl</a>, using the subject
        line MiMA database.
    </p>
</div>
