<h1 class="title" i18n>Home</h1>
<div class="columns">
    <div class="column is-8">
        <h2 class="subtitle" i18n>About the <i>MiMA</i> Project and Database</h2>
        <div class="content">
            <p i18n>Welcome to the MiMA database website, which is a product of the Mind your Manner Adverbials!
                research
                project
                run by linguists of Utrecht University (<a i18n-href
                    href="https://www.uu.nl/en/research/institute-for-language-sciences">ILS, formerly UiL-OTS</a>). The
                research project is funded by the Dutch Research
                Council (<a href="https://nwo.nl">NWO</a>).</p>

            <p i18n>One of the main aims of the MiMA research project is to describe and analyze the cross-linguistic
                variation
                in the (morpho)syntax of manner adverbials. In pursuing this, we are interested in the internal
                structure of
                these adverbials (including complex words, phrases and clauses), their external structure (i.e., the way
                in
                which they distribute in a larger sentence), and the way in which these two properties of manner
                adverbials
                interact with each other. Part of this project consists of the development of a database on manner
                adverbials.
                For this, data were collected, compiled and made available in this database.</p>

            <p i18n>As one look at the database reveals, there is a lot of variation in the way in which languages form
                and
                use manner adverbials. This rich variation is found in closely related languages and varieties of a
                single
                language (dialects). This kind of variation has not been studied on a large scale and in detail before.
                The
                MiMA project contributes to the study of the (morpho)syntax of manner adverbials and its
                cross-linguistic
                variation by systematic collection and study of data from languages/language varieties that exhibit
                different
                degrees of relatedness. First of all, it focuses on the Dutch, English, Frisian, German, and Swedish
                languages,
                which all belong to the Germanic language family. Secondly, it focuses on dialectal varieties of Dutch.
            </p>

            <p i18n>
                This sample of languages/language varieties in our database allows for cross-linguistic comparison 
                at different levels of fine-grainedness. Because of this, differences and similarities in the structure 
                of manner adverbials can be insightfully related to factors of cross-linguistic (micro)variation.
            </p>
        </div>

        <h2 class="subtitle" i18n>About the Database</h2>
        <div class="content">
            <p i18n>
                The database contains 33,384 translations of 252 prompts (including unattested patterns), from 326 
                respondents covering 89 Dutch and Frisian varieties. Excluding unattested patterns, it contains 
                10,054 translations of 221 prompts. The database also contains 25,249 grammaticality judgments of 
                740 prompts, from 342 respondents covering 102 Germanic varieties. These data primarily
                stem from the MiMA questionnaire research among native speakers, which was conducted in the following manner. By
                studying (dialect) reference grammars and the broader linguistic literature, and by consulting native speakers, we first
                made a selection of languages/language varieties that proved interesting for our research purposes. 
                Next, we made questionnaires to
                systematically chart the possible and impossible patterns in the morphosyntax of the manner adverbials
                in these languages. The Dutch dialect data were collected in the Netherlands and Flanders (Belgium) in
                collaboration with
                the <a target="_blank" href="https://meertenspanel.meertens.knaw.nl/">Meertens Panel</a>. The Frisian
                data were
                collected in the Netherlands in collaboration with the <a target="_blank"
                    href="https://www.fryske-akademy.nl/">Fryske Akademy</a>. The rest of the Germanic data (i.e. the
                English, German, and Swedish data) were collected remotely from native speakers in our professional
                network. The
                results of the questionnaires were glossed according to the
                <a target="_blank" href="https://www.eva.mpg.de/lingua/pdf/Glossing-Rules.pdf">Leipzig glossing
                    rules</a> and
                provided with
                (English) translations, and embedded in the database.
            </p>
            <p i18n>
                Further information on the organization of the data in the database can be found on the <a
                    [routerLink]="['/manual']" routerLinkActive="is-active">Manual</a> page of
                this website.
            </p>
            <p i18n>
                If you have any suggestions or feedback about the data (base), please mail us at <a
                    href="mailto:mima@uu.nl?subject=MiMA database">mima&#64;uu.nl</a>, using the subject
                line MiMA database.
            </p>

        </div>

    </div>
    <div class="column is-4">
        <h2 class="subtitle" i18n>Research Group</h2>
        <div class="content">
            <ul>
                <li i18n>Prof. dr. <a i18n-href href="https://www.uu.nl/staff/NFMCorver" target="_blank">Norbert
                        Corver</a> (PI)
                </li>
                <li i18n><a i18n-href href="https://www.uu.nl/staff/LTavenier" target="_blank">Lex Cloin-Tavenier</a>
                    (PhD
                    student)</li>
                <li i18n><a i18n-href href="https://www.uu.nl/staff/MMassaia" target="_blank">Marta Massaia</a> (PhD
                    student)
                </li>
                <li i18n>Iris Krips (Student Assistant)</li>
                <li i18n>Tess Wensink (Student Assistant)</li>
                <li i18n><a i18n-href href="https://www.uu.nl/staff/SJJSpoel" target="_blank">Sheean Spoel</a> (Database
                    Developer)</li>
                <li i18n><a i18n-href href="https://www.uu.nl/staff/MvanStiphout" target="_blank">Mees van Stiphout</a>
                    (Database Developer)</li>
            </ul>
        </div>
        <h2 i18n class="subtitle">Citing the Database</h2>
        <div class="content">
            <p i18n>Please use the following (or equivalent) template when referencing the database:</p>
            <p class="notification">Corver, N., L. Cloin-Tavenier, M. Massaia, I. Krips, T. Wensink, S. Spoel, M. van
                Stiphout (2025).
                <i>MiMA database (Mind your Manner Adverbials!)</i>. Online database, https://mima.hum.uu.nl/, Accessed
                {{date}}
            </p>
            <p i18n>When citing the database, please cite the following publication as well:</p>
            <a class="hover-underline" href="https://www.mdpi.com/journal/languages/special_issues/59IE785STJ"
                target="_blank">
                <p class="notification">
                    <a>
                        <fa-icon [icon]="faLink"></fa-icon>
                    </a>
                    Corver, N., L. Cloin-Tavenier & M. Massaia (eds.). 2025. Mind your Manner
                    Adverbials! A special issue of
                    <i>Languages</i> (ISSN 2226-471X)
                </p>
            </a>
        </div>
    </div>
</div>
