<h1 class="title" i18n>Home</h1>

<h2 class="subtitle" i18n>About the <i>MiMA</i> project and database</h2>
<div class="content">
    <p i18n>Welcome to the MiMA database website, which is a product of the Mind your Manner Adverbials! research
        project
        run by linguists of Utrecht University (<a i18n-href
            href="https://www.uu.nl/en/research/institute-for-language-sciences">ILS, formerly UiL-OTS</a>). The
        research project is funded by the Dutch Research
        Council (NWO).</p>

    <p i18n>One of the main aims of the research project is to map the cross-linguistic variation in the (morpho)syntax
        of
        manner adverbials. In pursuing this, we are interested in the internal structure (i.e., the internal make-up of
        complex words and groups of words) of these adverbials, their external structure (i.e., the way in which they
        distribute in the larger sentence), and the way in which these two variables interact. Part of building towards
        this
        goal consists of collecting the data contained in this database, and compiling and making them available in the
        database.</p>

    <p i18n>As one look at the database reveals, there is a lot of variation in the way in which languages form and use
        manner adverbials. This rich variation is found between unrelated, but also (closely) related languages/language
        varieties, and has not been studied on a large scale and in detail before. The MiMA project contributes to the
        study
        of the (morpho)syntax of manner adverbials by systematic collection and study of data from languages/language
        varieties that exhibit different degrees of relatedness: the Dutch dialects are very closely related
        languages/language varieties, the Germanic languages are less closely related, and the non-Germanic languages
        are
        even further removed/unrelated. By studying the differences and similarities in the structure of the manner
        adverbials, we can relate these to the differences and similarities between the languages/language varieties.
        The
        sample of languages/language varieties in our database allows us to do this at different levels of
        fine-grainedness.
    </p>

</div>
<h2 class="subtitle" i18n>Research group</h2>
<div class="content">
    <ul>
        <li i18n>Prof. dr. <a i18n-href href="https://www.uu.nl/staff/NFMCorver" target="_blank">Norbert Corver</a> (PI)
        </li>
        <li i18n><a i18n-href href="https://www.uu.nl/staff/MMassaia" target="_blank">Marta Massaia</a> (PhD student)
        </li>
        <li i18n><a i18n-href href="https://www.uu.nl/staff/LTavenier" target="_blank">Lex Cloin-Tavenier</a> (PhD
            student)</li>
        <li i18n>Tess Wensink (student assistant)</li>
    </ul>
</div>
