.questionheader {
    display: flex;
    align-items: center;
}

::ng-deep .p-panel .p-panel-header {
    margin-top: .25rem;
    margin-bottom: .25rem;
    border-top-right-radius: 16px;
    border-top-left-radius: 4px;
}

.filterclick:hover {
    color: hsl(171, 100%, 41%) !important;
}

.active {
    color: hsl(171, 43%, 63%) !important;
}

.panelheader {
    display: flex;
    align-items: center;
}

.exclude-filter {
    margin-left: .25rem;
    margin-right: .25rem;
    display: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.questionheader:hover .exclude-filter,
.panelheader:hover .exclude-filter,
.level-right:hover .exclude-filter {
    display: block;
    opacity: 100%;
}
