<ng-container *ngIf="!!filterIndexes">
    <div class="block" *ngFor="let index of filterIndexes">
        <mima-filter [index]="index" (filterChange)="filterChange($event)"></mima-filter>
    </div>
</ng-container>
<div class="level">
    <div class="level-left">
        <button class="button is-primary" (click)="add()">
            <span class="icon is-small">
                <fa-icon [icon]="faPlus"></fa-icon>
            </span>
            <span i18n>Add Filter</span>
        </button>
    </div>
    <div class="level-right" *ngIf="filterIndexes.length > 1">
        <ng-container i18n>Combine:</ng-container> &nbsp;
        <div class="field has-addons">
            <p class="control">
                <button class="button" [ngClass]="{'is-primary':operator==='and'}" (click)="setOperator('and')">
                    <span i18n>And</span>
                </button>
            </p>
            <p class="control">
                <button class="button" [ngClass]="{'is-primary':operator==='or'}" (click)="setOperator('or')">
                    <span i18n>Or</span>
                </button>
            </p>
        </div>
    </div>
</div>
