@if (!!filterIndexes) {
@for (index of filterIndexes; track index) {
<div class="block">
    <mima-filter [index]="index" [getFilterFieldOptions]="getFilterFieldOptions" [filters]="filters"
        [filterTypes]="filterTypes" (remove)="remove.emit(index)"
        (filterChange)="filterChange.emit($event)"></mima-filter>
</div>
}
}
@if (clearable) {
<div class="level">
    <div class="level-left">
        <div class="buttons">
            <button class="button is-primary" (click)="add.emit()">
                <span class="icon is-small">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </span>
                <span i18n>Add Filter</span>
            </button>
            <button class="button" (click)="clearable=false;clear.emit()">
                <span class="icon is-small">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </span>
                <span i18n>Clear Filters</span>
            </button>
        </div>
    </div>
    @if (filterIndexes.length > 1) {
    <div class="level-right">
        <ng-container i18n>Combine:</ng-container> &nbsp;
        <div class="field has-addons">
            <p class="control">
                <button class="button" [ngClass]="{'is-primary':operator==='and'}" (click)="setOperator.emit('and')">
                    <span i18n>And</span>
                </button>
            </p>
            <p class="control">
                <button class="button" [ngClass]="{'is-primary':operator==='or'}" (click)="setOperator.emit('or')">
                    <span i18n>Or</span>
                </button>
            </p>
        </div>
    </div>
    }
</div>
}
