<div class="tags">
    @switch (display) {
        @case ('selected') {
            <div class="tag is-success is-soft" *ngFor="let option of selected">
                <span class="icon-text">
                    <span class="icon">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </span>
                    <span>
                        {{ labels[option] }}
                    </span>
                </span>
            </div>
        }
        @case ('unselected') {
            <div class="tag is-danger is-soft" *ngFor="let option of unselected">
                <span class="icon-text">
                    <span class="icon">
                        <fa-icon [icon]="faTimes"></fa-icon>
                    </span>
                    <span>
                        {{ labels[option] }}
                    </span>
                </span>
            </div>
        }
        @case ('count') {
            <div class="tag is-success is-soft">
                <span class="icon-text">
                    <span class="icon">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </span>
                    <span i18n>
                        Selected {{selected.length}}
                    </span>
                </span>
            </div>
            <div class="tag is-danger is-soft" *ngIf="unselected.length">
                <span class="icon-text">
                    <span class="icon">
                        <fa-icon [icon]="faTimes"></fa-icon>
                    </span>
                    <span i18n>
                        Excluded {{unselected.length}}
                    </span>
                </span>
            </div>
        }
    }
</div>
