<div class="tags">
    <ng-container [ngSwitch]="display">
        <ng-container *ngSwitchCase="'selected'">
            <div class="tag is-success is-light" *ngFor="let option of selected">
                <span class="icon-text">
                    <span class="icon">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </span>
                    <span>
                        {{ labels[option] }}
                    </span>
                </span>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'unselected'">
            <div class="tag is-danger is-light" *ngFor="let option of unselected">
                <span class="icon-text">
                    <span class="icon">
                        <fa-icon [icon]="faTimes"></fa-icon>
                    </span>
                    <span>
                        {{ labels[option] }}
                    </span>
                </span>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'count'">
            <div class="tag is-success is-light">
                <span class="icon-text">
                    <span class="icon">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </span>
                    <span>
                        Selected {{selected.length}}
                    </span>
                </span>
            </div>
            <div class="tag is-danger is-light" *ngIf="unselected.length">
                <span class="icon-text">
                    <span class="icon">
                        <fa-icon [icon]="faTimes"></fa-icon>
                    </span>
                    <span>
                        Excluded {{unselected.length}}
                    </span>
                </span>
            </div>
        </ng-container>
    </ng-container>
</div>
