.adverbial-outer {
    position: relative;
}

.adverbial-inner {
    display: flex;
    flex-direction: row;
}

.p-examples {
    flex: 1;
}

.expand-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.subtitle {
    color: rgb(134, 131, 131);
    font-style: italic;
}
