<div class="content">
    <h1 class="title is-4">{{adverbial['Manner adverbial']}}</h1>
    <p>
        {{adverbial['Full example']}} <br/>
        <ng-container *ngIf="adverbial['Leipzig gloss']">{{adverbial['Leipzig gloss']}}<br /></ng-container>
        <i>{{adverbial['Translation']}}</i>
    </p>
</div>
<div class="field is-grouped is-grouped-multiline">
    <div class="control">
        <div class="tag">
            <span class="tag">{{adverbial['ID']}}</span>
        </div>
    </div>
    <ng-container  *ngIf="adverbial['Labels']">
        <div class="control" *ngFor="let label of adverbial['Labels']">
            <div class="tag">
                <span class="tag">{{label}}</span>
            </div>
        </div>
    </ng-container>
    <div class="control">
        <div class="tags has-addons">
            <span class="tag">{{adverbial['Language family']}}</span>
            <span class="tag">{{adverbial['Language group']}}</span>
            <span class="tag is-dark">{{adverbial['Language']}}</span>
            <span class="tag is-info">{{adverbial['Dialect']}}</span>
        </div>
    </div>
    <div class="control" *ngIf="adverbial['Source']">
        <div class="tag">
            <span class="tag">{{adverbial['Source']}}</span>
        </div>
    </div>
    <div class="control" [title]="adverbial['Note(s)']" *ngIf="adverbial['Note(s)']">
        <i class="icon">
            <fa-icon [icon]="faCommentDots"></fa-icon>
        </i>
    </div>
</div>
