<div class="content" *ngIf="adverbial">
    <h1 class="title is-4">{{adverbial.text}}</h1>
    <p>
        {{adverbial.example}} <br/>
        <ng-container *ngIf="adverbial.gloss">{{adverbial.gloss}}<br /></ng-container>
        <i>{{adverbial.translation}}</i>
    </p>
</div>
<div class="field is-grouped is-grouped-multiline" *ngIf="adverbial">
    <div class="control">
        <div class="tag">
            <span class="tag">{{adverbial.id}}</span>
        </div>
    </div>
    <ng-container  *ngIf="adverbial.labels">
        <div class="control" *ngFor="let label of adverbial.labels">
            <div class="tag">
                <span class="tag">{{label}}</span>
            </div>
        </div>
    </ng-container>
    <div class="control">
        <div class="tags has-addons">
            <span class="tag">{{adverbial.language_family}}</span>
            <span class="tag">{{adverbial.language_group}}</span>
            <span class="tag is-dark">{{adverbial.language}}</span>
            <span class="tag is-info">{{adverbial.dialect}}</span>
        </div>
    </div>
    <div class="control" *ngIf="adverbial.source">
        <div class="tag">
            <span class="tag">{{adverbial.source}}</span>
        </div>
    </div>
    <div class="control" [title]="adverbial.notes" *ngIf="adverbial.notes">
        <i class="icon">
            <fa-icon [icon]="faCommentDots"></fa-icon>
        </i>
    </div>
</div>
