@import 'variables';
@import 'bulma/bulma';
@import 'primeicons/primeicons.css';
@import 'primeng/resources/themes/fluent-light/theme.css';
@import 'primeng/resources/primeng.css';

$highlight: $warning;
$highlight-text: $warning-invert;

.highlight {
    background: $highlight;
    color: $highlight-text;
}

.is-highlight {
    @extend .is-warning;
}

// undo the reset from Bulma
p-multiselectitem li {
    margin: revert-layer;
    padding: revert-layer;
}

p-multiselect.input {
    height: fit-content;

    // use the border styling of bulma
    .p-multiselect {
        background: none;
        border: none;
        width: 100%;

        .p-multiselect-label {
            padding: 0;
        }
    }
}

@media print {

    .is-hidden-print,
    .is-hidden-print * {
        display: none !important;
    }

    .is-print-paddingless {
        padding: 0 !important;
    }

    .ui-table .ui-table-thead,
    .ui-table .ui-table-tbody,
    .ui-table .ui-table-tfoot {

        >tr>th,
        >tr>td {
            border: solid 1px $dark !important;
        }
    }
}
