<ng-container *ngIf="matchedAdverbialIds && matchedAdverbialIds.size; else emptyList">
    <!-- prevent re-rendering persisting adverbial components -->
    <ng-container *ngFor="let adverbialId of adverbialIds$ | async">
        <div class="box" *ngIf="matchedAdverbialIds.has(adverbialId)">
            <mima-adverbial [id]="adverbialId"></mima-adverbial>
        </div>
    </ng-container>
</ng-container>
<ng-template #emptyList>
    <article class="message is-warning">
        <div class="message-body content">
            No matching adverbials found!
        </div>
    </article>
</ng-template>
