<h1 class="title" i18n>Questionnaires</h1>
<h2 class="subtitle" i18n>Eerste Nederlandse Questionnaire</h2>
<div class="box">
    <mima-filter-list></mima-filter-list>
</div>
<div *ngIf="!isLoading && matchedQuestions">
    @if (matchedQuestions.size) {
        <div class="level">
            <div class="level-left">
                <h1 class="title" i18n>Results: {{matchedQuestions.size}}</h1>
            </div>
            <div class="level-right">
                <mima-download-button [matchedQuestions]="matchedQuestions"></mima-download-button>
            </div>
        </div>
        @for (questionId of questionIds$ | async; track questionId) {
            @if (matchedQuestionIds.has(questionId)) {
                <mima-questionnaire-item
                    [questions]="questions"
                    [loading]="true"
                    [id]="questionId"
                    [onlyQuestion]="matchedQuestionIds.size === 1"
                    (includeFilter)="onIncludeFilter($event)"
                    (excludeFilter)="onExcludeFilter($event)"></mima-questionnaire-item>
            }
        }
    }
    @else {
        <div class="notification is-warning" i18n>
            No matches found!
        </div>
    }
</div>
